body{

margin:0;

font-family:'Inter',
sans-serif;

background:#f4f6f9;

}

/* NAVBAR */

nav{

display:flex;

justify-content:
space-between;

align-items:center;

padding:18px 50px;

background:#1f2937;

color:white;

}

.logo{

font-family:
'Poppins',
sans-serif;

font-size:30px;

font-weight:700;

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

.container{

width:85%;

margin:auto;

padding-top:40px;

}

h2{

font-family:
'Poppins',
sans-serif;

}

select{

padding:12px;

width:260px;

border-radius:8px;

border:none;

margin-bottom:30px;

}

.student-card{

background:white;

padding:25px;

border-radius:12px;

box-shadow:
0 3px 10px rgba(
0,0,0,0.15);

margin-bottom:40px;

}

.graph-box{

background:white;

padding:25px;

border-radius:12px;

text-align:center;

box-shadow:
0 3px 10px rgba(
0,0,0,0.15);

}

.graph-box img{

width:80%;

max-width:700px;

}