body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #0f172a;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111827;
    position: sticky;
    top: 0;
}

.logo {
    color: #38bdf8;
    font-weight: 700;
    font-size: 18px;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

/* HOVER EFFECT */
nav a:hover {
    background: #38bdf8;
    color: black;
}

/* HERO */
.hero {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    color: white;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
}

/* DIFFERENT SECTION COLORS */
.dashboard {
    background: #1e293b;
    color: white;
}

.notes {
    background: #0b1220;
    color: white;
}

.students {
    background: #111827;
    color: white;
}

.contact {
    background: #0f172a;
    color: white;
    text-align: center;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #334155;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #38bdf8;
    color: black;
}

/* NOTES */
.notes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.note-card {
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #334155;
    transition: 0.3s;
}

.note-card:hover {
    background: #38bdf8;
    color: black;
    transform: scale(1.05);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #334155;
    text-align: center;
}

th {
    background: #38bdf8;
    color: black;
}
