body{

margin:0;

font-family:'Inter',
sans-serif;

background:#eef2ff;

color:#1f2937;

}

/* NAVBAR */

nav{

display:flex;

justify-content:
space-between;

align-items:center;

padding:20px 60px;

background:#1e293b;

color:white;

}

.logo{

font-family:
'Poppins',
sans-serif;

font-size:30px;

font-weight:700;

}

nav ul{

display:flex;

gap:30px;

list-style:none;

}


/* HERO */

.hero{

text-align:center;

padding:100px 20px;

background:
linear-gradient(
135deg,
#4f46e5,
#7c3aed
);

color:white;

}

.hero h1{

font-size:50px;

font-family:
'Poppins',
sans-serif;

}

.hero p{

font-size:20px;

max-width:700px;

margin:auto;

}


/* MAIN */

.container{

width:85%;

margin:auto;

padding:50px 0;

}

.section-box{

background:white;

padding:35px;

margin-bottom:40px;

border-radius:16px;

box-shadow:
0 4px 14px rgba(
0,0,0,0.12);

}

h2{

font-family:
'Poppins',
sans-serif;

}

select{

padding:12px;

width:260px;

border-radius:8px;

border:1px solid #ddd;

margin-bottom:25px;

}

.student-card{

background:#f8fafc;

padding:20px;

border-radius:10px;

}

.graph-box{

text-align:center;

}

.graph-box img{

width:80%;

max-width:700px;

border-radius:10px;

}


/* FOOTER */

footer{

background:#1e293b;

color:white;

text-align:center;

padding:30px;

margin-top:50px;

}
